* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  max-width: 1400px;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#bar,
#close {
  display: none;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 40px;
  position: relative;
  box-shadow: rgba(128, 128, 128, 0.43) 0 1px 3px;
  z-index: 100;
}

.icon {
  width: 24px;
}

.logo svg {
  width: 50px;
  margin-right: 20px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav ul,
.nav div:nth-child(2),
.nav .location,
.nav .account {
  display: flex;
  align-items: center;
  height: 100px;
}

.nav ul a {
  height: 100%;
}

.nav ul li {
  margin-left: 20px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 5px solid transparent;
}

.nav .location img {
  height: 26px;
  width: auto;
  padding-top: 5px;
}

.nav div:nth-child(2) div {
  margin: 0 10px;
}

.nav .store {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-right: 15px;
}

.btn1,
.btn2,
.btn3 {
  color: #000;
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.5s;
}

.bigger {
  font-size: 18px;
}

.btn1:hover {
  background: rgba(128, 128, 128, 0.192);
}

.btn2:hover {
  background: gray;
}

.btn3:hover {
  background: #01492f;
}

.btn2 {
  color: #fff;
  background-color: #000;
}

.banner .banner-item {
  margin-top: 30px;
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
}

.banner .banner-item img {
  width: 50vw;
}

.banner .banner-text {
  text-align: center;
  margin: 0 7%;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.banner-text p {
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  /* margin-right: 7%;
  margin-left: 7%; */
  /* margin: 0 2px 2px 50px; */
  /* padding-bottom: 20px; */
}

.banner-text .h1-smaller {
  font-size: 25px;
  letter-spacing: 0;
}

.banner-text .p-smaller {
  font-size: 20px;
  line-height: 30px;
}

/* banners */
.item1 {
  background: #f1f0eb;
}

.item2 {
  background: #f1f0eb;
  flex-direction: row-reverse;
}

.item3 {
  background: #c0e9a7;
}

.item4 {
  background: #025939;
  flex-direction: row-reverse;
}

.item5 {
  background: #dcf2ea;
}

.item6 {
  background: #0021db;
  flex-direction: row-reverse;
}

.item7 {
  background: #97d8b0;
}

.item1 .banner-text,
.item2 .banner-text,
.item3 .banner-text {
  color: #224037;
}

.banner-text p {
  line-height: 34px;
}
.item1 .btn1,
.item2 .btn1,
.item3 .btn1 {
  color: #224037;
  border: 1px solid #224037;
}

.item4 .banner-text,
.item6 .banner-text {
  color: #fff;
}

.item4 .btn3,
.item6 .btn3 {
  color: #fff;
  border: 1px solid #fff;
}

.item1 .banner-text p {
  margin-right: 3%;
  margin-left: 3%;
}

.item6 .banner-text h1 {
  margin: 0 10%;
}

.item6 .banner-text p {
  margin-top: 20px;
}

.item7 .banner-text {
  color: #0f4032;
}

.item7 .btn1 {
  color: #0f4032;
  border: 1px solid #0f4032;
}

/* /////////////////////////////////// MEDIA QUERIES */
/* for tablet */
@media (min-width: 1025px) {
  #bar,
  #close {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #bar {
    display: block;
  }

  #bar,
  #close {
    cursor: pointer;
  }

  .nav {
    position: absolute;
    top: 100px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    box-shadow: inset rgba(128, 128, 128, 0.43) 0 1px 3px;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    transition: all 0.5s;
  }

  .nav ul {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* margin-left: 40px; */
    padding: 20px 0;
  }

  /* .nav .border {
    position: absolute;
    border-top: 2px solid rgba(128, 128, 128, 0.192);
    width: 72%;
    margin: 0 40px;
  } */

  .nav ul li {
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
    padding: 20px;
    border-bottom: none;
    color: rgb(39, 38, 38);
  }

  .nav .nav-option {
    position: relative;
    flex-direction: column-reverse;
  }

  .nav .location {
    padding-left: 40px;
    height: 10px;
  }

  .nav .account {
    width: 100%;
    padding-left: 30px;
  }

  .nav .account div:first-child {
    width: 100px;
    min-width: 90px;
  }

  /* banners */
  .banner-text h1 {
    font-size: 30px;
  }

  .banner-text {
    padding: 30px 0;
  }

  .item1 .banner-text {
    margin: 0;
  }

  .item6 .banner-text {
    margin: 0 15%;
  }

  .item2 .banner-text,
  .item3 .banner-text,
  .item4 .banner-text,
  .item7 .banner-text {
    margin: 0 3%;
  }

  .item2 .banner-text p,
  .item1 .banner-text p,
  .item6 .banner-text p {
    font-size: 22px;
  }

  .banner-text .h1-smaller {
    font-size: 22px;
    letter-spacing: 0;
  }

  .banner-text .p-smaller {
    font-size: 16px;
    line-height: 30px;
  }

  .banner-item .btn1,
  .banner-item .btn2,
  .banner-item .btn3 {
    font-size: 14px;
    font-weight: 700;
  }
}

/* for smartphone */
@media only screen and (max-width: 800px) {
  header {
    height: 80px;
    padding: 0 20px;
  }

  .nav {
    top: 80px;
  }

  .logo svg {
    width: 40px;
  }

  .nav ul li {
    font-size: 20px;
  }

  /* banner */
  .banner-item {
    flex-wrap: wrap;
  }

  .banner .banner-item img {
    width: 100%;
  }

  .banner-text h1 {
    font-size: 28px;
  }

  .item1 .banner-text h1,
  .item2 .banner-text h1 {
    font-weight: 700;
  }

  /* .item6 .banner-text {
    margin: 0 5%;
  } */
}

@media only screen and (max-width: 480px) {
  .item6 .banner-text {
    margin: 0 5%;
  }
}
